#main_nav a:hover { color: #ffcc33; }

input[type="text"]:placeholder { color:grey; }

#main_nav { background-color: #00cc66; }

#main_nav .home_link strong { color: #ccffff; }

.avatar
{
  background-color: grey;
  border: 3px solid #ff9933;
}

#profile_options_button svg g path { fill: white !important; }

#second_nav { background-color: #ccff99; }

#second_nav > button.picto > svg path { fill: #ff9933; }
