#main_nav {
  width:100%;
  height:60px;
  -webkit-box-shadow: 0px 2px 2px rgba(0,0,0,.4);
  box-shadow: 0px 2px 2px rgba(0,0,0,.4);

  position: fixed;
  top: 0;
  right: 0;
  left: 0;

  display: flex;
  -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  justify-content: flex-start;
  -ms-align-items: center;
    align-items: center;
}
#main_nav * {
  color: white;
}
#main_nav a {
  color: white;
  font-weight: bold;
  text-shadow: 0px 1px 0 #333;
}

/* ---------------- WRAPPER ---------------- */
#main_nav .main_wrapper {
  width: 93%;
  margin-left: 5%;

  display: grid;
  -ms-grid-template: "a div";
  grid-template: "a div";
  -ms-grid-template-columns: 12% 88%;
  grid-template-columns: 12% 88%;
}

#main_nav .main_wrapper .home_link {
  width: 100%;
  font-size: 2.7vw;
  font-weight: bold;

  padding-left: 15px;
}
#main_nav .main_wrapper > .home_link:hover {
  color: inherit;
}

#main_nav .main_wrapper > .stretched_row {
  width: 100%;
}

/* ---------------- MAIN NAV ---------------- */
#main_nav form input[type="text"], #main_nav form input[type="submit"] {
  height: 32px;
  color: black;
  font-weight: bold;
}

#main_nav > .link_box {
  margin-left: .5em;
}

/* ---------------- ACCOUNT NAV ---------------- */
#account_nav {
  float: right;
}

/* ---------------- PROFILE ---------------- */
#profile {

}
