/* ----------------- AROUND THE OBJECT ----------------- */
/*MAGIC HAT WRAPPER*/
#magic_wrapper
{
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  margin: 50px 0;
  padding: 0 64px;

  position: relative;
}

/*MAGIC HAT BUTTONS*/
#magic_wrapper > button
{
  -webkit-filter: opacity(.2);
  -o-filter: opacity(.2);
  filter: opacity(.2);

  position: absolute;
  top: 50%;
  z-index: 10;

  cursor: pointer;

  -webkit-transition: filter .5s;
  -o-transition: filter .5s;
  transition: filter .5s;
}
#magic_wrapper > button:hover
{
  -webkit-filter: opacity(1);
  -o-filter: opacity(1);
  filter: opacity(1);

  -webkit-transition: filter .2s;
  -o-transition: filter .2s;
  transition: filter .2s;
}

#magic_wrapper > button:first-child
{
  left: 0;
  transform: rotate(180deg);
}
#magic_wrapper > button:last-child
{
  right: 0;
}

/* --------------------- MAIN OBJECT --------------------- */
#magic_hat
{
  width: 70vw;
  height: 70vh;

  -webkit-box-shadow: 0 0 5px 4px rgba(0,0,0,.1);
  box-shadow: 0 0 5px 4px rgba(0,0,0,.1);
}
/*SLIDING OBJECT*/
#magic_hat .slider_container
{
  width: 210vw;
  height: 95%;
  margin-top: 5%;

  flex-wrap: nowrap;
}
/*MULTIPLE SLIDES CONTAINER*/
#magic_hat .magic_carpet
{
  width: 70vw;
  height: 100%;

  flex-wrap: nowrap;

  overflow: hidden;
}

/* --------------------- SLIDES --------------------- */
#magic_hat .slide_wrapper
{
  width: 33.333333%;
  height: 100%;
}

/*TEXT PART*/
#magic_hat .slide_informations
{
  padding: 10px 15px;

  -webkit-box-shadow: -3px 0 2px rgba(0,0,0,.2);
  box-shadow: -3px 0 2px rgba(0,0,0,.2);
}

#magic_hat .slide_description h1 { margin-top: 0; }

#magic_hat .slide_informations > nav { width: 100%; }
