#magic_hat
{
  width: 70vw;
  height: 70vh;
  margin: 50px 0;

  -webkit-box-shadow: 0 0 5px 4px rgba(0,0,0,.1);
  box-shadow: 0 0 5px 4px rgba(0,0,0,.1);
}

#magic_hat .slider_container
{
  width: 300%;
  height: 100%;
}

#magic_hat .slide_wrapper
{
  width: 33.333333%;
  height: 100%;
}

#magic_hat .slide_wrapper
{
  overflow: hidden;
}

#magic_hat .slide_informations
{
  padding: 10px 20px;

  -webkit-box-shadow: -3px 0 2px rgba(0,0,0,.2);
  box-shadow: -3px 0 2px rgba(0,0,0,.2);
}

#magic_hat .slide_description
{

}

#magic_hat .slide_informations > nav
{
  width: 100%;
}
