#main_nav
{
  width:100%;
  height:60px;
  -webkit-box-shadow: 0px 2px 5px rgba(0,0,0,.2);
  box-shadow: 0px 2px 5px rgba(0,0,0,.2);

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}
#main_nav * { color: white; }
#main_nav a
{
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0px 1px 0 #333;
}


/* ---------------- WRAPPER ---------------- */
#main_nav .main_wrapper
{
  width: 93%;
  margin: 0 2% 0 5%;
  height: 100%;
}

/* ---------------- HOME LINK ---------------- */
#main_nav .main_wrapper > .home_link
{
  font-size: 2.7vw;
  font-weight: bold;
}
#main_nav .main_wrapper > .logo > svg
{
  width: 60px;
  height: 60px;
}
#main_nav .main_wrapper > .home_link:hover { color: inherit; }

#main_nav .main_wrapper > .stretched_row { width: 100%; }

/* ---------------- MAIN NAV ---------------- */
#global_nav
{
  margin-left: 15px;
}

/*FORMULAIRE*/
#global_nav form input[type="text"], #main_nav form input[type="submit"]
{
  height: 32px;
  color: black;
  font-weight: bold;
}
/*-----------*/

#global_nav > .link_box { margin-left: .5em; }

#global_nav > .link_box > a > svg > g > path
{
  fill: #ccffff;
}

/* ---------------- ACCOUNT NAV ---------------- */
#account_nav { margin-left: auto; }

#profile_options_button
{
  width: 30px;
  height: 30px;

  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);

  cursor: pointer;

  -webkit-transition: transform .2s ease-out;
  -o-transition: transform .2s ease-out;
  transition: transform .2s ease-out;
}
#profile_options_button svg
{
  width: 12px;
  height: 12px;
}
#profile_options_button.active
{
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0);
}

/* ---------------- CONNECT NAV ---------------- */
#connect_nav > a:nth-child(1)
{
  margin-right: .5em;
}
