.flex_row
{
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.flex_column
{
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}
.spaced { justify-content: space-around; }
.stretched { justify-content: space-between; }
.v_align
{
  -ms-align-items: center;
  align-items: center;
}

.search_bar input[type="text"] { margin-right:10px; }

.link_box a { padding: 5px .5em; }

.micro_picto
{
  width: 40px;
  height: 40px;

  display: block;
}

.avatar { border-radius: 50%; }

.horizontal_list
{
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.part_horiz_cover
{
  width: 50%;
  height: 100%;
}

.logo > svg
{
  max-width: 200px;
  max-height:200px;
}

.logo.no_depth > svg > #layer6
{
  display: none;
}
