.flex_row
{
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.flex_column
{
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}
.spaced_row { justify-content: space-around; }
.stretched_row { justify-content: space-between; }
.v_align
{
-ms-align-items: center;
align-items: center;
}

.horizontal_list
{
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

.part_horiz_cover
{
  width: 50%;
  height: 100%;
}
