/*TEXT*/
.txt_justified
{
  text-align: justify;
  -ms-text-justify: distribute;
  text-justify: distribute;
}
.txt_centered { text-align: center; }
.txt_right { text-align: right; }

/*INTERACTIONS*/
.noselect
{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/*FLEX STYLING*/
.flex_row
{
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.flex_column
{
  display: flex;
  -webkit-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
}
.spaced { justify-content: space-around; }
.centered { justify-content: center;}
.stretched { justify-content: space-between; }
.aligned
{
  -ms-align-items: center;
  align-items: center;
}
/*-----------*/

/*GLOBAL NAVIGATION*/
.search_bar *
{
  border-right: 1px solid #dcdcdc;
  border-radius: 0;
}
.search_bar > *:first-child
{
  border-radius: 16px 0 0 16px;
  padding-left: 10px;
}
.search_bar > *:last-child { border-radius: 0 16px 16px 0; }

form > input[type="text"], form > input[type="submit"]
{
  color: black;
  font-weight: bold;
}

.link_box > a
{
  padding: 0 5px;
  margin-right: 5px;

  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
.link_box > a:last-child { margin-right: 0; }

.hovering_nav
{
  position: absolute;
  right: .5em;
  bottom: .5em;
}
/*-----------*/

/*SELECT HACKING*/
/*much for little ; buttons' select hack
* thanks to Eric Rasch for the base idea :
* https://codepen.io/ericrasch/pen/zjDBx
*/
.select_wrapper:before
{
  content: "";
  width: 32px;
  height:28px;

  border-left: 1px solid #eaeaea;

  position: absolute;
  top: 50%;
  right: 0;
  z-index: 5;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.select_wrapper
{
  width: 240px;
  background-color: white;

  position: relative;

  overflow: hidden;
}
.select_wrapper.rounded { border-radius: 2px; }
.select_wrapper:after
{
  content: "";
  width: 32px;
  height:28px;
  background: url("../img/svg/menu_arrow.svg") no-repeat 50% 50%;
  -webkit-background-size: 12px 12px;
  background-size: 12px 12px;

  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg);
  /*TODO: in need of edition once selects are JQ structured
  -webkit-transition: transform .08s;
  -o-transition: transform .08s;
  transition: transform .08s; */
}
.select_wrapper.active:after
{
  -webkit-transform: translateY(-50%) rotate(0deg);
  -ms-transform: translateY(-50%) rotate(0deg);
  transform: translateY(-50%) rotate(0deg);
}
.select_wrapper * { cursor: pointer; }

.select_wrapper > select
{
  background-color: transparent;
  width: 268px; /*+28px*/

  position: relative;
  z-index: 5;
}
/*-----------*/

/*PICTOS AND ICONS*/
.logo > svg
{
  max-width: 200px;
  max-height: 200px;
}
.logo.big_logo > svg
{
  max-width: 450px;
  max-height: 450px;
}
.logo.no_depth > svg > #layer6 { display: none; }

.picto
{
  width: 50px;
  height: 50px;

  display: block;
}
.micro_picto
{
  width: 32px;
  height: 32px;
}
.big_picto
{
  width: 68px;
  height: 68px;
}
.picto > svg
{
  width: 100%;
  height: 100%;
}

.avatar { border-radius: 50%; }
/*-----------*/

/*SLIDERS*/
.slider_wrapper
{
  position: relative;

  overflow: hidden;
}
.slider_wrapper > button
{
  position: absolute;

  top: 60%;
}
.slider_wrapper > button:first-child
{
  left: 0;
  transform: rotate(180deg);
}
.slider_wrapper > button:last-child
{
  right: 0;
}

.slider_wrapper > .slider_container
{
  position: relative;
  left: 0;

  -webkit-transition: left .5s;
  -o-transition: left .5s;
  transition: left .5s;
}

.slide_wrapper > .slide_representation
{
  width: 100%;
  height: 100%;

  overflow: hidden;
}

.slide_wrapper > .slide_representation > img
{
  width: auto;
  height: 100%;
}

.slide_wrapper > .slide_informations
{
  width: 45%;
  height: 100%;
}
/*-----------*/

/*GLOBAL DESIGN*/
#background_sticker
{
  position: fixed;
  top:50%;
  left:50%;
  z-index: -30;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

  opacity: .2;
  -webkit-filter: grayscale(85%) blur(2px);
  -o-filter: grayscale(85%) blur(2px);
  filter: grayscale(85%) blur(2px);
}
/*-----------*/
